@media screen {
    /*** canvas ***/

    #canvas {
        height: 100vh;
        width: 100vw;
        position: fixed;
    }


    .curtain {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
    }

    .curtain img, .curtain canvas {
        display: none;
    }

    .curtain .box, .curtain canvas {
        display: none;
    }


}