* {
  margin: 0;
  font-family: "Montserrat", sans-serif;
  overflow-x: hidden;
  width: 100%;
  text-transform: uppercase;
  z-index: 1;
}
.hp-text-container {
  position: fixed;
  bottom: 8%;
  left: 5%;
  width: fit-content;
}

.nav-title {
  font-family: "Montserrat", sans-serif;
  font-size: 190px;
  line-height: 145px;
  font-weight: 900;
  letter-spacing: -18px;
  margin: 0;
  transition: ease-in-out 0.2s all;
  cursor: pointer;
  width: fit-content;
  overflow: hidden;
  padding: 0 20px;
  color: white;
}

.nav-title:hover {
  font-weight: 200;
  letter-spacing: -23px;
}

.master-wrapper {
  display: grid;
  grid-template-columns: 1fr 2fr;
  height: 100vh;
  background: linear-gradient(199deg, #240000, black);
}

.master-wrapper-toggle {
  background: linear-gradient(39deg, #240000, black);
}

.menu-container {
  margin-left: 100%;
  transition: ease-in-out 0.3s all;
  opacity: 0;
}

.menu-container-toggle {
  margin-left: 0%;
  opacity: 1;
}

.nav-title-toggle {
  font-size: 50px;
  line-height: 45px;
  font-weight: 200;
  letter-spacing: -2px;
}

.active {
  color: red;
  font-weight: 900;
}

.active:hover {
  color: red;
  font-weight: 200 !important;
}

.nav-title-toggle:hover {
  font-size: 50px;
  line-height: 45px;
  font-weight: 900;
  letter-spacing: -2px;
}

.about-body p,
h1 {
  width: auto;
  padding: 0 10%;
}

.contact-body p,
h1 {
  width: auto;
  padding: 0 10%;
}

.edu-body p,
h1 {
  width: auto;
  padding: 0 10%;
}

.active::before {
  content: "";
  position: relative;
  display: inline-block;
  width: 60px;
  height: 65px;
  top: 0;
  left: 0;
  z-index: 1;
  background: url(right-arrow.png);
  transform: rotate(0deg);
  transition: ease-in-out 0.4s all;
}

.active:hover:before {
  transform: rotate(-720deg);
}

.text-line {
  stroke-dasharray: 400;
  stroke-dashoffset: 3000;
  animation: dash 50s linear forwards infinite, filling 0.2s ease-in forwards;
  font-size: 30px;
  font-weight: 900;
}

svg.text-line {
  position: fixed;
  top: 0;
  left: 5%;
  width: 50px;
  height: 30px;
  padding: 0 20px;
  padding-top: 4.5%;
  stroke: white;
}

@keyframes dash {
  to {
    stroke-dashoffset: 0;
  }
}

@keyframes filling {
  0%,
  90% {
    fill: #ffffff00;
    fill-opacity: 0;
  }
  100% {
    fill: #ffffff00;
    fill-opacity: 1;
  }
}

.about-body,
.contact-body,
.edu-body {
  padding-top: 5%;
}

i.uil {
  font-size: 45px;
  padding-right: 20px;
}

.contact-method {
  font-size: 25px;
  font-weight: 400;
  height: 100vh;
}

.contact-method p {
  padding-bottom: 20px;
  transition: ease-in-out 0.2s all;
}

.contact-method p:hover {
  padding-bottom: 20px;
  font-weight: 900;
}

.about-body {
  color: white;
}

.contact-method a {
  text-decoration: none;
  color: white;
}

.container {
  width: 80%;
  padding: 50px 0;
  margin: 50px auto;
  position: relative;
  overflow: hidden;
  color: white;
}

.container:before {
  content: "";
  position: absolute;
  top: 0;
  left: 50%;
  margin-left: -1px;
  width: 2px;
  height: 100%;
  background: black;
  z-index: 1;
}

.timeline-block {
  width: -webkit-calc(50% + 8px);
  width: -moz-calc(50% + 8px);
  width: calc(50% + 8px);
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -moz-box-pack: justify;
  justify-content: space-between;
  clear: both;
}

.timeline-block-right {
  float: right;
}

.timeline-block-left {
  float: left;
  direction: rtl;
}

.marker {
  width: 13px;
  height: 13px;
  border-radius: 50%;
  border: 2px solid black;
  background: black;
  margin-top: 10px;
  z-index: 9999;
  position: absolute;
}

.timeline-content {
  width: 95%;
  padding: 0 15px;
  margin: 0 15px;
}

.timeline-content h3 {
  margin-top: 5px;
  margin-bottom: 5px;
  font-size: 25px;
  font-weight: 500;
}

.timeline-content span {
  font-size: 15px;
}

.timeline-content p {
  font-size: 14px;
  line-height: 1.5em;
  word-spacing: 1px;
}

@media screen and (max-width: 768px) {
  .container:before {
    left: 8px;
    width: 2px;
  }
  .timeline-block {
    width: 100%;
    margin-bottom: 30px;
  }
  .timeline-block-right {
    float: none;
  }

  .timeline-block-left {
    float: none;
    direction: ltr;
  }
}

.btn-wrapper {
  display: flex;
  font-weight: 500;
  justify-content: center;
}

.edu-btn,
.exp-btn {
  display: flex;
  justify-content: center;
  transition: ease-in-out 0.2s all;
  width: auto;
  cursor: pointer;
  margin: 0 10px;
  color: white;
}

.edu-btn:hover,
.exp-btn:hover {
  font-weight: 900;
}

.active-btn {
  color: red;
  font-weight: 900;
}

.text-line {
  transition: ease-in-out 0.3s all;
}
.logo-active {
  stroke: red !important;
}

.box {
  /* position: fixed;
	top: 0;
	transform: rotate(80deg);
	left: 0; */
}

.wave {
  top: -10%;
  left: 67%;
  opacity: 0.4;
  position: fixed;
  background: red;
  width: 54%;
  height: 119%;
  margin-left: -150px;
  margin-top: -250px;
  transform-origin: 50% 48%;
  border-radius: 43%;
  animation: drift 70000ms infinite linear;
}

.wave.-three {
  animation: drift 75000ms infinite linear;
  position: fixed;
  background-color: black;
}

.wave.-two {
  animation: drift 30000ms infinite linear;
  opacity: 0.1;
  background: black;
  position: fixed;
}

.box:after {
  content: "";
  display: block;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 11;
  transform: translate3d(0, 0, 0);
}

@keyframes drift {
  from {
    transform: rotate(0deg);
  }
  from {
    transform: rotate(360deg);
  }
}

/*LOADING SPACE*/

.contain {
  animation-delay: 4s;
  z-index: 1000;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-flow: row nowrap;
  flex-flow: row nowrap;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;

  background: #25a7d7;
  background: -webkit-linear-gradient(#25a7d7, #2962ff);
  background: linear-gradient(#25a7d7, #25a7d7);
}

.icon {
  width: 100px;
  height: 100px;
  margin: 0 5px;
}

/*Animation*/
.icon:nth-child(2) img {
  -webkit-animation-delay: 0.2s;
  animation-delay: 0.2s;
}
.icon:nth-child(3) img {
  -webkit-animation-delay: 0.3s;
  animation-delay: 0.3s;
}
.icon:nth-child(4) img {
  -webkit-animation-delay: 0.4s;
  animation-delay: 0.4s;
}

.icon img {
  -webkit-animation: anim 2s ease infinite;
  animation: anim 2s ease infinite;
  -webkit-transform: scale(0, 0) rotateZ(180deg);
  transform: scale(0, 0) rotateZ(180deg);
}

@-webkit-keyframes anim {
  0% {
    -webkit-transform: scale(0, 0) rotateZ(-90deg);
    transform: scale(0, 0) rotateZ(-90deg);
    opacity: 0;
  }
  30% {
    -webkit-transform: scale(1, 1) rotateZ(0deg);
    transform: scale(1, 1) rotateZ(0deg);
    opacity: 1;
  }
  50% {
    -webkit-transform: scale(1, 1) rotateZ(0deg);
    transform: scale(1, 1) rotateZ(0deg);
    opacity: 1;
  }
  80% {
    -webkit-transform: scale(0, 0) rotateZ(90deg);
    transform: scale(0, 0) rotateZ(90deg);
    opacity: 0;
  }
}

@keyframes anim {
  0% {
    -webkit-transform: scale(0, 0) rotateZ(-90deg);
    transform: scale(0, 0) rotateZ(-90deg);
    opacity: 0;
  }
  30% {
    -webkit-transform: scale(1, 1) rotateZ(0deg);
    transform: scale(1, 1) rotateZ(0deg);
    opacity: 1;
  }
  50% {
    -webkit-transform: scale(1, 1) rotateZ(0deg);
    transform: scale(1, 1) rotateZ(0deg);
    opacity: 1;
  }
  80% {
    -webkit-transform: scale(0, 0) rotateZ(90deg);
    transform: scale(0, 0) rotateZ(90deg);
    opacity: 0;
  }
}

.toggle-fullscreen-btn {
  position: fixed;
  z-index: 10000;
  bottom: 5%;
  right: 3%;
  border: 0;
  padding: 0;
  background: none;
  cursor: pointer;
  outline: none;
  width: 30px;
}

.toggle-fullscreen-svg {
  display: block;
  height: auto;
}

.toggle-fullscreen-svg path {
  transform-box: view-box;
  transform-origin: 12px 12px;
  fill: none;
  stroke: red;
  stroke-width: 2;
  transition: 0.15s;
}

.toggle-fullscreen-btn:hover path:nth-child(1),
.toggle-fullscreen-btn:focus path:nth-child(1) {
  transform: translate(-2px, -2px);
}

.toggle-fullscreen-btn:hover path:nth-child(2),
.toggle-fullscreen-btn:focus path:nth-child(2) {
  transform: translate(2px, -2px);
}

.toggle-fullscreen-btn:hover path:nth-child(3),
.toggle-fullscreen-btn:focus path:nth-child(3) {
  transform: translate(2px, 2px);
}

.toggle-fullscreen-btn:hover path:nth-child(4),
.toggle-fullscreen-btn:focus path:nth-child(4) {
  transform: translate(-2px, 2px);
}

.toggle-fullscreen-btn:not(.on) .icon-fullscreen-leave {
  display: none;
}

.toggle-fullscreen-btn.on .icon-fullscreen-enter {
  display: none;
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: transparent;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgb(33, 0, 0);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: rgb(115, 0, 0);
}

@media (max-width: 1100px){
  .wave {
    top: 8%;
    left: 67%;
    width: 96%;
    height: 65%;
}
.nav-title {
  font-size: 52px;
  line-height: 48px;
  letter-spacing: -2px;
}

.nav-title:hover {
  font-size: 52px;
  line-height: 48px;
  letter-spacing: -2px;
  font-weight: 900 !important;
}

.master-wrapper {
grid-template-columns: 1fr;
}

.hp-text-container-toggle{
position: unset;
}

.logo-active {
position: relative !important;
width: 100% !important;
top: 0 !important;
left: 0 !important;
padding: 0 0px !important;
padding-top: 4.5% !important;
}

.active {
  color: red;
  font-weight: 200 !important;
  font-size: 30px;
  font-weight: 900 !important;
  display: flex;
  align-items: center;
  width: 100vw;
  justify-content: center;
  padding: 0;
}

.active:hover {
color: red;
font-weight: 200 !important;
font-size: 30px;
font-weight: 900 !important;
display: flex;
align-items: center;
width: 100vw;
justify-content: center;
padding: 0;
}
}

@media (max-width: 500px) {

  #cursor,#cursor-border{
    display: none !important;
  }
  .wave {
    top: 29%;
    left: 77%;
    width: 112%;
    height: 51%;
}

  
}

#cursor {
  position: fixed;
  top: -5px;
  left: -5px;
  width: 10px;
  height: 10px;
  background-color: white;
  border-radius: 50%;
  pointer-events: none;
  z-index: 999;
}

#cursor-border {
  --size: 50px;
  position: fixed;
  top: calc(var(--size) / -2);
  left: calc(var(--size) / -2);
  width: var(--size);
  height: var(--size);
  border-radius: 50%;
  box-shadow: 0 0 0 1px white;
  pointer-events: none;
  transition: top 0.15s ease-out, left 0.15s ease-out, width 0.15s ease-out,
    height 0.15s ease-out, background-color 0.15s ease-out;
  z-index: 999;
}
